<body>
    <div class="main-container">
        <app-header></app-header>
    
        <div class="landing-container">
            <h1>Movies, TV shows and more</h1>
            <h2>Dive into a world of stories, emotions, and adventures.</h2>
            <p>Go to log in or create an account and start your subscription</p>
            <div class="button-container">
                <button routerLink="/login" type="button">Log in</button>
                <button routerLink="/sign-up" type="button">Sign up</button>
            </div>
        </div>
    
        <app-footer></app-footer>
        
    </div>  
</body>