@import '../../mixin.scss';

.main-container {
    width: 100vw;
    height: 100%;
    background-image: url('/assets/img/start.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    display: flex;
    gap: 64px;
}

.landing-container {
    width: 100vw;
    height: 100vh;
    @include dFlex();
    flex-direction: column;

    h1 {
        font-weight: 700;
        // font-size: 48px;
        font-size: clamp(2rem, 1.8rem + 1vw, 3rem);
        color: $white;
        text-align: center;
    }

    h2 {
        text-align: center;
        font-weight: 700;
        color: $white;
        font-size: clamp(1.125rem, 1.05rem + 0.375vw, 1.5rem);
    }

    p {
        color: $white;
        text-align: center;
        margin: 0;
        font-size: clamp(1rem, 0.925rem + 0.375vw, 1.375rem);
    }
}

button {
    border: unset;
    border-radius: 40px;
    width: 144px;
    height: 48px;
    color: $white;
    font-weight: 700;
    font-size: 18px;
    margin: 32px 0;
    background-color: $purple;
    cursor: pointer;

    &:hover {
        background-color: $purpleHover;
    }
}

app-footer {
    margin-top: auto;
}


@media (max-width: 650px) {
    .landing-container {
        padding: 0 24px;
    }
}

@media (max-width: 450px) {
    .login {
        display: none;
    }
}