@import '../../mixin.scss';

.main-container {
    width: 100vw;
    height: 100%;
    background-image: url('/assets/img/login_forgot.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-container {
    width: 100%;
    height: 100%;
    @include dFlex();
}

.input-container {
    width: 520px;
    height: 450px;
    background-color: $white;
    border: unset;
    border-radius: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin-bottom: 32px;
        font-weight: 700;
        font-size: clamp(2rem, 1.8rem + 1vw, 3rem);
        color: $purple;
        text-align: center;
    }

    p {
        text-align: center;
        margin: 0;
    }

    div {
        height: 24px;
    }
}

form {
    @include dFlex();
    flex-direction: column;
    gap: 24px;
    width: 100%;

    input {
        width: 75%;
        height: 48px;
        border-radius: 12px;
        border: solid 1px $purple;
        font-family: 'DM Sans', sans-serif;
        font-size: 18px;
        padding-left: 16px;
    }

    button {
        border: unset;
        border-radius: 40px;
        width: 144px;
        height: 48px;
        color: $white;
        font-weight: 700;
        font-size: 18px;

        &.not-filled {
            background-color: $purpleNotfilled;
        }

        &.filled {
            background-color: $purple;
            cursor: pointer;

            &:hover {
                background-color: $purpleHover;
            }
        }
    }
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 75%;
    height: 48px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    padding: 8px;

    img {
        width: 20px;
        height: auto;
    }
}

.password-input {
    flex: 1;
}

.login-input {
    width: 75%;
    height: 48px;
    border-radius: 12px;
    border: solid 1px $purple;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    padding-left: 16px;
}

@media (max-width: 450px) {
    .input-container {
        scale: 0.8;
        height: 380px;
    }
}