<div class="main-container">
    <app-header></app-header>

    <div class="site-container">
        <div class="input-container">
            <h1>Please enter your<br>new password!</h1>
            <form (submit)="resetPassword(); $event.preventDefault();">
                
                <div class="password-container">
                    <input class="password-input login-input" id="password" name="password" [type]="passwordVisible ? 'text' : 'password'" [(ngModel)]="newPassword" placeholder="new password" required>
                    <span (click)="togglePasswordVisibility()" class="toggle-password">
                        <img [src]="passwordVisible ? 'assets/icons/view.png' : 'assets/icons/hidden.png'" alt="toggle visibility">
                    </span>
                </div>
                
                <input id="confirmPassword" name="confirmPassword" [type]="passwordVisible ? 'text' : 'password'" [(ngModel)]="confirmPassword" placeholder="confirm password" (keyup)="checkPasswordMatch()" required>
                <div>
                    <p *ngIf="isPasswordMismatch" style="color: red;">The passwords do not match.</p>
                </div>

                <button [ngClass]="isButtonDisabled ? 'not-filled' : 'filled'" type="submit" [disabled]="isButtonDisabled">Reset password</button>
            </form>
            
        </div>
    </div>

    <app-footer></app-footer>
    
</div>