@import '../../mixin.scss';

.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: $black;
    flex-direction: column;
    overflow-x: hidden;
}

video {
    max-width: 100%;
}

.video-container {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    width: 75%;
    @include dFlex();
    flex-direction: column;
}

video.video-js {
    width: 100%;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    background-color: $black;
}

.quality-selector {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
}

select {
    padding: 5px;
    font-size: 14px;
}

h1,
p,
h2 {
    color: $white;
    font-family: $montFont;
}

@media (max-width: 1000px) {
    .description-container {
        padding: 0 16px;
    }
}