<div class="main-container">
    <div class="video-container">
        <video #videoPlayer class="video-js vjs-default-skin"></video>
        <div class="quality-selector">
            <select id="quality" (change)="onQualityChange($event)">
                <option *ngFor="let option of qualityOptions" [value]="option.label"
                    [selected]="option.label === selectedQuality">
                    {{ option.label }}
                </option>
            </select>
        </div>
    </div>
</div>