<div class="main-container">
    <app-header></app-header>
    <div class="video-container">
        <h1>{{ videoSource.title }}</h1>
        <video #videoPlayer class="video-js vjs-default-skin"></video>
        <div class="quality-selector">
            <select id="quality" (change)="onQualityChange($event)">
                <option *ngFor="let option of qualityOptions" [value]="option.label"
                    [selected]="option.label === selectedQuality">
                    {{ option.label }}
                </option>
            </select>
        </div>
    </div>
    <div class="description-container">
        <h2>About the film</h2>
        <p>{{ videoSource.description }}</p>
    </div>
</div>

<!-- <div>
    <video #videoPlayer autoplay controls playsinline preload="auto">
        <source [src]="videoSrc" type="video/mp4">
    </video> 
    <select (change)="onQualityChange($event)" [value]="selectedQuality">
        <option *ngFor="let option of qualityOptions" [value]="option.label">{{ option.label }}</option>
      </select>
</div> -->
