@import '../../mixin.scss';

.main-container {
    width: 100vw;
    height: 100vh;
    @include dFlex();
    background-color: $black;
}

.video-container {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    width: 75vw;
    height: 50vw;
    @include dFlex();
    flex-direction: column;
}

video.video-js {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
    background-color: $black;
}

.quality-selector {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
}

select {
    padding: 5px;
    font-size: 14px;
}

.video-js {
    max-width: 75vw;
}

@media (max-width: 600px) {
    .video-js {
        max-width: 100vw;
    }

    .video-container {
        height: 70vw;
    }

    video.video-js {
        width: 100%;
    }
}