<div class="main-container">

    <div class="slide dm-sans-font">
        <h1>New on Videoflix</h1>
        <div class="slideshow">
            @for (video of list; track list) {
            <div class="thumbnail-container">
                <img (click)="playVideo(video)" [src]="apiMediaUrl + video.thumbnail" [alt]="video.title">
            </div>
            }
        </div>
    </div>

    <div *ngFor="let category of categories">
        <div class="slide dm-sans-font">
          <h1>{{ category | titlecase }}</h1>
          <div class="slideshow">
            @for (video of list; track list) {
              @if (video.category == category) {
                <div class="thumbnail-container">
                  <img (click)="playVideo(video)" [src]="apiMediaUrl + video.thumbnail" [alt]="video.title">
                </div>
              }
            }
          </div>
        </div>
      </div>

</div>