@import '../../../mixin.scss';

header {
    @include dFlex(space-between);
    width: 100%;
    max-width: 1920px;
    height: 108px;
    // position: absolute;
    padding: 0 96px;
    z-index: 100;
}

.logo {
    width: 200px;
    cursor: pointer;
}

.only-logo {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.logout-button {
    width: 144px;
    height: 48px;
    background-color: $purple;
    color: $white;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 40px;
    border: unset;
    cursor: pointer;

    &:hover {
        background-color: $purpleHover;
    }

    >img {
        width: 24px;
        height: 24px;
    }
}

.login-button-header {
    width: 99px;
    height: 48px;
    border-radius: 40px;
    border: unset;
    background-color: $purple;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: $purpleHover;
    }

    a {
        text-decoration: none;
        color: $white;
        font-family: 'DM Sans';
        font-weight: 700;
        font-size: 18px;
    }

}

.responsive-button {
    display: none;
}

@media (max-width: 450px) {
    .responsive-button {
        display: flex;
    }

    header {
        padding: 0 16px;
    }
}

@media (max-width: 450px) {
    .logo {
        width: 128px;
    }
}