header {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    height: 108px;
    justify-content: space-between;
    position: fixed;
    padding: 0 96px;
}

.logo {
    width: 200px;
    cursor: pointer;
}

.only-logo {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.logout-button {
        width: 144px;
        height: 48px;
        background-color: #2E3EDF;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 40px;
        border: unset;
        cursor: pointer;

        >img {
            width: 24px;
            height: 24px;
        }
}

.login-button-header {
    width: 99px;
    height: 48px;
    border-radius: 40px;
    border: unset;
    // margin-right: 96px;
    background-color: #2E3EDF;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    a {
        text-decoration: none;
        color: #FFFFFF;
        font-family: 'DM Sans';
        font-weight: 700;
        font-size: 18px;
    }
    
}