@import '../../../mixin.scss';

.main-container {
    width: 100vw;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    position: relative;
}

.description-container {
    width: 35%;
    position: absolute;
    z-index: 1;
    left: 90px;
    top: 128px;


    >h1 {
        color: $white;
        font-size: clamp(32px, 20px + 3.5vw, 88px);
        font-weight: 700;
    }

    >p {
        color: $white;
        font-size: clamp(14px, 13px + 0.25vw, 18px);
        font-weight: 400;
        margin-bottom: 64px;
    }
}

.play-button {
    @include dFlex();
    gap: 8px;
    width: 113px;
    height: 48px;
    border: unset;
    border-radius: 40px;
    background-color: $purple;
    cursor: pointer;

    &:hover {
        background-color: $purpleHover;
    }

    >span {
        color: $white;
        font-size: 18px;
        font-weight: 700;
    }

    >img {
        width: 24px;
        height: 24px;

        &:hover {
            filter: brightness(1.5);
        }
    }


}