<body>
    <div class="main-container">
        <header>
            <img routerLink="/" class="logo" src="./assets/img/logo.png" alt="logo">
        </header>
        <div class="site-container">
            <h1>Impressum</h1>

            <p>Daniel Schneider<br />
                Sch&ouml;ne Aussicht 6<br />
                65329 Hohenstein</p>

            <h2>Kontakt</h2>
            <p>Telefon: 0049 6120 9269386<br />
                E-Mail: <a class="link" href="mailto:kontakt@dschneider-dev.de">kontakt&#64;dschneider-dev.de</a></p>

            <p>Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>

            <a href="https://www.flaticon.com/free-icons/eye-password" title="eye password icons">Eye password icons
                created by sonnycandra - Flaticon</a>
        </div>
<app-footer></app-footer>
    </div>
</body>