@import '../../mixin.scss';

body {
    background-color: $black;
    height: 100vh;
    width: 100vw;
}

.main-container {
    height: 100%;
    @include dFlex(space-between);
    flex-direction: column;
    overflow-x: hidden;
}

app-header,
app-footer {
    width: 100%;
    max-width: 1920px;
}

app-footer {
    margin-top: auto;
}

app-preview-banner {
    width: 100%;
    max-width: 1920px;
    height: auto;
    aspect-ratio: 16/9;
    position: relative;
}

app-video-slideshow {
    width: 100%;
    max-width: 1920px;
    margin-top: -128px;
    z-index: 1;
    position: relative;
}

@media (max-width: 1250px) {
    app-video-slideshow {
        margin-top: -55px;
    }

}

@media (max-width: 1075px) {
    app-video-slideshow {
        margin-top: -20px;
    }

}

@media (max-width: 940px) {
    app-video-slideshow {
        margin-top: 20px;
    }
}


@media (max-width: 750px) {
    app-preview-banner {
        display: none;
    }

    app-video-slideshow {
        margin-top: 0;
    }
}