body {
    background-color: #000000;
    height: 100vh;
    width: 100vw;
}

.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    justify-content: space-between;

}

app-header,
app-footer {
    width: 100%;
    max-width: 1920px;
}

app-footer {
    margin-top: auto;
}

app-preview-banner {
    width: 100%;
    max-width: 1920px;
    height: auto; /* Automatische Höhe, um Inhalt zu berücksichtigen */
    aspect-ratio: 16/9; /* Verhältnis für dynamische Höhe */
    position: relative; /* Nötig für z-index bei Überlagerung */
}

app-video-slideshow {
    width: 100%;
    max-width: 1920px;
    margin-top: -50px; /* Negativer Margin-Wert, um die Slideshow „kleben“ zu lassen */
    z-index: 1; /* Überlagert den Preview-Banner */
    position: relative;
}