body {
    background-color: #000000;
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 108px;
    padding: 0 96px;

    >img {
        width: 48px;
        height: 48px;
    }
    >div {
        width: 144px;
        height: 48px;
        background-color: #2E3EDF;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 40px;
        border: unset;
        cursor: pointer;

        >img {
            width: 24px;
            height: 24px;
        }
    }
}