<div class="main-container">

    <app-header></app-header>

    <div class="site-container">
        <div class="input-container">
            <h1>Forgot your<br>password?</h1>
            <p>We will send you an email with instructions to<br>reset your password.</p>
            <form (submit)="submitRequest(); $event.preventDefault();">
                <input name="email" type="email" [(ngModel)]="email" placeholder="Email Address" required>
                <button [ngClass]="email.trim().length > 2 ? 'filled' : 'not-filled'" type="submit">Send Email</button>
            </form>
        </div>
    </div>

    <app-footer></app-footer>
    
</div>