/* You can add global styles to this file, and also import other style files */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/roboto-v32-latin-regular.woff2') format('woff2'),
         url('./assets/fonts/roboto-v32-latin-regular.ttf') format('truetype');
         
  }

  .roboto-font {
    font-family: 'Roboto', Arial, sans-serif;
  }