@import '../../../mixin.scss';

.footer {
    width: 100%;
    max-width: 1920px;
    height: 108px;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    @include dFlex();
    gap: 32px;
    background-color: $black;

    a {
        text-decoration: none;
        color: $white;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;

        &:hover {
            color: $purpleHover;
        }
    }
}